<!-- Header -->
    <header class="intro-header">
      <div class="container">
        <div class="intro-message">
          <h1>Bart's Book Store</h1>
          <h3>A place to buy books</h3>
        </div>
      </div>
    </header>

    <!-- Page Content -->
    <section class="content-section-a">

      <div class="container">
        <div class="row">
          <div class="col-lg-5 ml-auto">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">Top Kid's Release:
            <p class="lead">Diary of a Wimpy Kid The Getaway</p>
          </div>
          <div class="col-lg-5 mr-auto">
            <img class="img-fluid" src="/assets/KidRelease.jpg" alt="">
          </div>
        </div>

      </div>
      <!-- /.container -->
    </section>

    <section class="content-section-b">

      <div class="container">

        <div class="row">
          <div class="col-lg-5 mr-auto order-lg-2">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">Best Selling Book:
            <p class="lead">Harry Potter and the Cursed Child, Parts 1 & 2</p>
          </div>
          <div class="col-lg-5 ml-auto order-lg-1">
            <img class="img-fluid" src="/assets/BestRelease.jpg" alt="">
          </div>
        </div>

      </div>
      <!-- /.container -->

    </section>
